/*standard elements*/
* { 
  box-sizing: border-box; 
}

article {
  border-bottom: solid 1px #D1D3D4;
  width:100%;
}

form {
  margin: auto;
  width: 50%;
}

h2 {
  color: #6D6E71; 
  font-family: Roboto Slab;
  font-size: 20px;
}

header {
  background-color: #E5F3F2;
  padding: 30px;
}

input::placeholder {
  opacity: .5;
}

p { 
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  margin-top: 20px;
}

textarea {
  min-height: 40px;
  resize: vertical;
}

textarea::placeholder {
  opacity: 0.5;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

/*buttons*/
.delete-button {
  background-image: url(../images/delete.svg);
  height: 25px;
  width:25px;
}

.delete-button:hover {
  background-image: url(../images/delete-hover.svg);
}

.down-arrow {
  background-image: url(../images/downvote.svg);
  display: inline-block;
  height: 25px;
  margin-right: 10px;
  margin-top: 20px;
  width:25px;
}

.down-arrow:hover {
  background-image: url(../images/downvote-hover.svg);
}

.up-arrow {
  background-image: url(../images/upvote.svg);
  display: inline-block;
  height: 25px;
  margin-right: 10px;
  margin-top: 20px;
  width:25px;
}

.up-arrow:hover {
  background-image: url(../images/upvote-hover.svg);
}

.save-button {
  background-color: #00A79D;
  border: none;
  color: #FFFFFF;
  font-family:'Roboto Slab', serif;
  font-size: 20px;
  height: 40px;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.save-button:hover {
  background-color: #045E55;
}

.input-fields {
  border: solid 2px #D1D3D4;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  height: 40px;
  margin: 0 auto 20px auto;
  padding: 0 0 0 10px;
  width: 100%;
}

.logo {
  display: block;
  margin: 30px auto 30px auto;
  width: 50%;
}

.search-section {
  padding: 30px 30px 0px 30px;
}
.idea-section {
  padding: 0 30px 30px 30px;
}
.wrapper {
  margin: auto;
  width: 50%;
}

.quality-rank {
  display: inline-block;
  font-family:'Roboto Slab', serif;
  font-size: 18px;
  margin-bottom: 15px;
} 

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

/*Media queries*/
@media only screen and (max-width: 1000px) {
  .wrapper {
    width: 65%;
  }
  form {
    width: 65%;
  }
}

@media only screen and (max-width: 750px) {
  .wrapper {
    width: 80%;
  }
  form {
    width: 80%;
  }
}

@media only screen and (max-width: 550px) {
  .wrapper {
    width: 90%;
  }
  form {
    width: 90%;
  }
}