/*standard elements*/
* {
  box-sizing: border-box;
}

article {
  width:100%;
}

.myVeryOwnSpecialHorizontalLine {
  border-bottom: solid 1px #D1D3D4;
}

form {
  display: flex;
  flex-direction: column;

  width: 50%;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: #E5F3F2;
}

header p {
  padding-bottom: 30px;
  text-align: center;
  color: #00a79d;
  font-family: 'Roboto Slab', serif;
  font-size: 3.5rem;
}

input {
  color: #6D6E71;
}

input::placeholder {
  opacity: .5;
}

p {
  margin-top: 20px;
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
}

.new-color {
  color: #6d6e71;
}

.entry-title {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

/*buttons*/
.delete-button {
  width:25px;
  height: 25px;
  border: none;
  background-image: url(../images/delete.svg);
}

.delete-button:hover {
  background-image: url(../images/delete-hover.svg);
}

.down-arrow {
  display: inline-block;
  width:25px;
  height: 25px;
  margin-top: 20px;
  margin-right: 10px;
  border: none;
  background-image: url(../images/downvote.svg);
}

.down-arrow:hover {
  background-image: url(../images/downvote-hover.svg);
}

.up-arrow {
  display: inline-block;
  width:25px;
  height: 25px;
  margin-top: 20px;
  margin-right: 10px;
  border: none;
  background-image: url(../images/upvote.svg);
}

.up-arrow:hover {
  background-image: url(../images/upvote-hover.svg);
}

.button {
  text-align: center;
  color: #FFFFFF;
  border: none;
  background-color: #00A79D;
  box-shadow: 0px 4px 16px -5px rgba(0,0,0,0.75);
  font-family:'Open sans', sans-serif;
}

.save-button {
  width: 100%;
  height: 40px;
  padding: 5px;
  font-size: 20px;
}

.button:hover {
  background-color: #045E55;
}

.button:disabled {
  background-color: #6D6F74
}

.filterButton {
  width: 18.4%;
  height: 25px;
}

.criticalImportance {
  width: 30%;
}

.highImportance {
  width: 30%;
}

.normalImportance {
  display: inline-block;
  margin-top: 10px;
  margin-right: 2%;
}

.lowImportance {
  display: inline-block;
  margin-top: 10px;
  margin-right: 2%;
}

.noneImportance {
  margin-top: 10px;
  margin-right: 2%;
}

.showAllReadIdeas {
  float: right;
  width: 34%;
  height: 60px;
  margin-left: 2%;
  font-size: 16px;
}

.showToDos {
  display: inherit;
  width: 35%;
  height: 25px;
  margin: 10px auto;
}

.input-fields {
  display: block;
  width: 100%;
  height: 40px;
  margin: 0 auto 20px auto;
  padding: 0 0 0 10px;
  border: solid 2px #D1D3D4;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.logo {
  display: block;
  width: 50%;
  margin: 30px auto 30px auto;
}

.search-section {
  padding: 30px 30px 0px 30px;
}

.idea-section {
  padding: 0 30px 30px 30px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

.wrapper {
  width: 50%;
  margin: auto;
}

.quality-rank {
  display: inline-block;
  margin-bottom: 15px;
  font-family:'Roboto Slab', serif;
  font-size: 18px;
}

.completed-button {
  position: relative;
  top: 27px;
  float: right;
  color: #939598;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

.completed-state {
  text-decoration: line-through;
  text-decoration-color: #DC214E;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

/*Media queries*/
@media only screen and (max-width: 1000px) {
  form {
    width: 65%;
  }

  .wrapper {
    width: 65%;
  }
}

@media only screen and (max-width: 750px) {
  form {
    width: 80%;
  }

  .wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 570px) {
  form {
    width: 90%;
  }

  .wrapper {
    width: 90%;
  }

  .showToDos {
    width: 45%;
  }
}

@media only screen and (max-width: 510px) {
  button {
    padding: 1px 4px;
  }

  .showAllReadIdeas {
    font-size: 14px;
  }

  .filterButton {
    font-size: 12px;
  }

  .noneImportance, .lowImportance, .normalImportance {
    margin-right: 1.75%;
  }

  .completed-button {
    top: 0px;
    left: 123px;
    font-size: 14px;
  }

  .quality-rank {
    float: right;
    font-size: 14px;
  }

  .down-arrow {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 510px) {
  .completed-button {
    bottom: 40px;
  }
}

@media only screen and (max-width: 380px) {
  .completed-button {
    position: absolute;
    top: auto;
    right: 40px;
    bottom: auto;
    left: auto;
    float: none;
  }

   .filterButton {
    font-size: 10px;
  }
}
